
# Data files
*.csv
#*.pkl
*.joblib

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Node
node_modules/
dist/
